{% extends 'admin/admin_template.jinja2' %}

{% block rightside_content %}
    <button class="btn btn-primary" onclick="onAdd()">CREATE ADMIN</button>
    <div class="content">
        <h2 class="page-title">DATABASE ADMIN</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr class="table-primary">
                    <th class="text-center">ID ADMIN</th>
                    <th class="text-center">USERNAME</th>
                    <th colspan="2" class="text-center">Kontrol</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for user in users %}
                        <th class="text-center">{{ user.id }}</th>
                        <td class="text-center">{{ user.username }}</td>
                        <!-- Tombol edit -->
                        <td class="text-center">
                            <button onClick="onEdit('{{ user.id }}'))" class="btn btn-primary">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>

                        <!--Tombol hapus -->

                        <td class="text-center">
                            <a href="{{ url_for('admin_user_delete', id= user.id) }}">
                                <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block overlay_add %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offAdd()">Back</button>
    <div class="overlay-content">
        <h2 class="overlay-title">CREATE ADMIN</h2>
        <!-- INPUT ADD BORROW -->
        <div class="overlay-input">
            <form action="{{ url_for('admin_users_create') }}" method="post">
                <label for="username_create" class="form-label">USERNAME:</label><br>
                <input type="text" id="username_create" name="username" value="" class="form-control"><br>
                <label for="password_create" class="form-label">PASSWORD:</label><br>
                <input type="password" id="password_create" name="password" value="" class="form-control"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block overlay_edit %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offEdit()">Back</button>
    <div class="overlay-content">
        <h2 class="overlay-title">EDIT ADMIN </h2>
        <!-- INPUT EDIT BORROW -->
        <div class="overlay-input">
            <form action="{{ url_for('admin_users_update', id='a') }}" method="post">
                <label for="id_admin_edit" class="form-label">ID ADMIN:</label><br>
                <input type="number" id="id_admin_edit" name="id_admin" value="" class="form-control"><br>
                <label for="username_edit" class="form-label">USERNAME:</label><br>
                <input type="text" id="username_edit" name="username" value="" class="form-control"><br>
                <label for="old_password_edit" class="form-label">OLD PASSWORD:</label><br>
                <input type="password" id="old_password_edit" name="old_password" value="" class="form-control"><br>
                <label for="new_password_edit" class="form-label">NEW PASSWORD:</label><br>
                <input type="password" id="new_password_edit" name="new_password" value="" class="form-control"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}