<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styleAdmin.css') }}">

    <title>BOOKING</title>
  </head>
  <body>
    <header>
        <div class="logo">
            <h1 class="logo-wa">KELOMPOK 2</h1>
        </div>
    </header>
    <!-- INDEX WRAPPER -->
    <div class="index-wrapper">
        <!-- LEFT SIDE -->
        <div class="leftside-wrapper">
            <ul>
                <li><a href="booking.html">BOOKING</a></li>
                <li><a href="gedung.html">GEDUNG</a></li>
                <li><a href="admin.html">ADMIN</a></li>
                <li><a href="organisasi.html">ORGANISASI</a></li>
                <li><a href="../index.html">LOG OUT</a></li>
            </ul>
        </div>
        <!-- RIGHT CONTENT -->
        <div class="rightside-content">
            <!-- button -->
            <button class="btn btn-primary" onclick="onAdd()">CREATE BOOKING</button>

            <div class="content">
                <h2 class="page-title">DATABASE BOOKING</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th class="text-center">BOOKING ID</th>
                                <th class="text-center">ID GEDUNG</th>
                                <th class="text-center">NAMA PENANGGUNG JAWAB</th>
                                <th class="text-center">NAMA PENYEWA</th>
                                <th class="text-center">START DATE</th>
                                <th class="text-center">END DATE</th>
                                <th class="text-center">START TIME</th>
                                <th class="text-center">END TIME</th>
                                <th colspan="2" class="text-center">Kontrol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">1120</th>
                                <td class="text-center">001</td>
                                <td class="text-center">SURYONO</td>
                                <td class="text-center">SUPADI</td>
                                <td class="text-center">12 DESEMBER 2022</td>
                                <td class="text-center">14 DESEMBER 2022</td>
                                <td class="text-center">08.00</td>
                                <td class="text-center">12.00</td>

                                <!-- Tombol edit -->
                                <td class="text-center">
                                    <button onClick="onEdit()" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
                                </td>

                                <!--Tombol hapus -->
                                <td class="text-center">
                                    <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                                </td>
                            </tr>
                                <!--OVERLAY EDIT MEMBER-->
                            <div id="overlay-edit" class="overlay">
                                <!-- BACK BOTTON -->
                                <button class="btn btn-primary btn-back" onClick="offEdit()">Back</button>
                                <div class="overlay-content">
                                    <h2 class="overlay-title">EDIT GEDUNG</h2>
                                    <!-- INPUT EDIT MEMBER -->
                                    <div class="overlay-input">
                                        <form action="/static">
                                            <label for="IdBooking" class="form-label">BOOKING ID:</label><br>
                                            <input type="number" id="id_booking" name="id_booking" value=""class="form-control"><br>
                                            <label for="IdGedung" class="form-label">ID GEDUNG:</label><br>
                                            <input type="number" id="id_gedung" name="id_gedung" value=""class="form-control"><br>
                                            <label for="NamaPenanggungJawab" class="form-label">NAMA PENANGGUNG JAWAB:</label><br>
                                            <input type="text" id="nama_penanggung_jawab" name="nama_penanggung_jawab" value="" class="form-control"><br>
                                            <label for="NamaPenanggungJawab" class="form-label">NAMA PENYEWA:</label><br>
                                            <input type="text" id="nama_penanggung_jawab" name="nama_penanggung_jawab" value="" class="form-control"><br>
                                            <label for="StartDate">START DATE:</label><br>
                                            <input type="date" id="start_date" name="start_date"><br>
                                            <label for="EndDate">END DATE:</label><br>
                                            <input type="date" id="end_date" name="end_date"><br>
                                            <label for="StartTime">START TIME:</label><br>
                                            <input type="time" id="start_time" name="start_time"><br>
                                            <label for="EndTime">END TIME:</label><br>
                                            <input type="time" id="end_time" name="end_time"><br>
                                            <input type="text" class="form-control" onkeydown="javascript: return isNumberInput(event);"/><br>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--OVERLAY ADD MEMBER -->
    <div id="overlay-add" class="overlay">
        <!-- BACK BOTTON -->
        <button class="btn btn-primary btn-back" onClick="offAdd()">Back</button>
        <div class="overlay-content">
            <h2 class="overlay-title">CREATE GEDUNG</h2>
            <!-- INPUT ADD MEMBER -->
            <div class="overlay-input">
                <form action="/static">
                    <label for="IdBooking" class="form-label">BOOKING ID:</label><br>
                    <input type="number" id="id_booking" name="id_booking" value=""class="form-control"><br>
                    <label for="IdGedung" class="form-label">ID GEDUNG:</label><br>
                    <input type="number" id="id_gedung" name="id_gedung" value=""class="form-control"><br>
                    <label for="NamaPenanggungJawab" class="form-label">NAMA PENANGGUNG JAWAB:</label><br>
                    <input type="text" id="nama_penanggung_jawab" name="nama_penanggung_jawab" value="" class="form-control"><br>
                    <label for="NamaPenanggungJawab" class="form-label">NAMA PENYEWA:</label><br>
                    <input type="text" id="nama_penanggung_jawab" name="nama_penanggung_jawab" value="" class="form-control"><br>
                    <label for="StartDate">START DATE:</label><br>
                    <input type="date" id="start_date" name="start_date"><br>
                    <label for="EndDate">END DATE:</label><br>
                    <input type="date" id="end_date" name="end_date"><br>
                    <label for="StartTime">START TIME:</label><br>
                    <input type="time" id="start_time" name="start_time"><br>
                    <label for="EndTime">END TIME:</label><br>
                    <input type="time" id="end_time" name="end_time"><br>
                    <input type="text" class="form-control" onkeydown="javascript: return isNumberInput(event);"/><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>



    <!-- <div class="jumbotron">
        <h1 align="center" class="judul">PERPUSTAKAAN UBM</h1>
    </div>
    </div> -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <!--script for open and close overlay  -->
    <script>
        function onAdd() {
          document.getElementById("overlay-add").style.display = "block";
        }

        function offAdd() {
          document.getElementById("overlay-add").style.display = "none";
        }
        
        function onEdit() {
          document.getElementById("overlay-edit").style.display = "block";
        }

        function offEdit() {
          document.getElementById("overlay-edit").style.display = "none";
        }
        </script>
  </body>
</html>