{% extends 'admin/gedung_template.jinja2' %}

{% block rightside_content %}
    <button class="btn btn-primary" onclick="onAdd()">CREATE GEDUNG</button>
    <div class="content">
        <h2 class="page-title">DATABASE GEDUNG</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr class="table-primary">
                    <th class="text-center">ID GEDUNG</th>
                    <th class="text-center">NAMA GEDUNG</th>
                    <th class="text-center">BASE PRICE</th>
                    <th colspan="2" class="text-center">Kontrol</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for gedung in gedungs %}
                        <th class="text-center">{{ gedung.id }}</th>
                        <td class="text-center">{{ gedung.nama }}</td>
                        <td class="text-center">{{ gedung.base_price }}</td>
                        <!-- Tombol edit -->
                        <td class="text-center">
                            <button onClick="onEdit('{{ gedung.id }}')" class="btn btn-primary">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>

                        <!--Tombol hapus -->
                        <td class="text-center">
                            <a href="{{ url_for('admin_gedung_delete', id=gedung.id) }}">
                                <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                            </a>
                        </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block overlay_add %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offAdd()">BACK</button>
    <div class="overlay-content">
        <h2 class="overlay-title">CREATE GEDUNG</h2>
        <!-- INPUT ADD BORROW -->
        <div class="overlay-input">
            <form action="{{ url_for('admin_gedung_create') }}" method="post">
                <label for="nama" class="form-label">NAMA GEDUNG:</label><br>
                <input type="text" id="Nama" name="Nama" value=""class="form-control"><br>
                <label for="BasePrice" class="form-label">BASE PRICE:</label><br>
                <input type="int" id="baseprice" name="base_price" value=""class="form-control"><br>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block overlay_edit %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offEdit()">BACK</button>
    <div class="overlay-content">
        <h2 class="overlay-title">EDIT GEDUNG </h2>
        <!-- INPUT EDIT BORROW -->
        <div class="overlay-input">
            <form action="{{ url_for('admin_gedung_update', id='a') }}" method="post">
                <label for="id-gedung-edit" class="form-label">ID GEDUNG:</label><br>
                <input type="number" id="id-gedung-edit" name="id_gedung" value="" class="form-control"><br>
                <label for="nama-gedung-edit" class="form-label">NAMA GEDUNG:</label><br>
                <input type="text" id="nama-gedung-edit" name="nama_gedung" value="" class="form-control"><br>
                <label for="baseprice-gedung-edit" class="form-label">BASE PRICE:</label><br>
                <input type="int" id="baseprice-gedung-edit" name="baseprice_gedung" value="" class="form-control"><br>
            </form>
        </div>
    </div>
{% endblock %}
<script>
        function onAdd() {
          document.getElementById("overlay-add").style.display = "block";
          document.getElementById("overlay-background-add").style.display = "block";
        }

        function offAdd() {
          document.getElementById("overlay-add").style.display = "none";
          document.getElementById("overlay-background-add").style.display = "none";
        }

        function onEdit() {
          document.getElementById("overlay-edit").style.display = "block";
          document.getElementById("overlay-background-edit").style.display = "block";
        }

        function offEdit() {
          document.getElementById("overlay-edit").style.display = "none";
          document.getElementById("overlay-background-edit").style.display = "none";
        }
 </script>