{% extends 'admin/templates/admin_template.jinja2' %}

{% block title %} GEDUNG {% endblock%}

{% block rightside_content %}
    <button class="btn btn-primary" onclick="onAdd()">CREATE GEDUNG</button>
    <div class="content">
        <h2 class="page-title">DATABASE GEDUNG</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr class="table-primary">
                    <th class="text-center">ID GEDUNG</th>
                    <th class="text-center">NAMA GEDUNG</th>
                    <th class="text-center">BASE PRICE</th>
                    <th colspan="2" class="text-center">Kontrol</th>
                </tr>
                </thead>
                <tbody>
                {% for gedung in gedungs %}
                    <tr>
                        <td class="text-center">{{ gedung.id }}</td>
                        <td class="text-center">{{ gedung.nama }}</td>
                        <td class="text-center">{{ gedung.base_price }}</td>
                        <!-- Tombol edit -->
                        <td class="text-center">
                            <button onClick="onEdit('{{ gedung.id }}')" class="btn btn-primary">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>

                        <!--Tombol hapus -->
                        <td class="text-center">
                            <a href="{{ url_for('admin_gedung_delete', id=gedung.id) }}">
                                <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block overlay_add %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offAdd()">BACK</button>
    <div class="overlay-content">
        <h2 class="overlay-title">CREATE GEDUNG</h2>
        <!-- INPUT ADD BORROW -->
        <div class="overlay-input">
            <form action="{{ url_for('admin_gedung_create') }}" method="post">
                <label for="nama" class="form-label">NAMA GEDUNG:</label><br>
                <input type="text" id="Nama" name="nama" value="" class="form-control"><br>
                <label for="BasePrice" class="form-label">BASE PRICE:</label><br>
                <input type="number" id="baseprice" name="base_price" value="" class="form-control"><br>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block overlay_edit %}
    <div id="overlay-edit-placeholder"></div>
{% endblock %}

{% block script %}
    <script>
        function onAdd() {
            document.getElementById("overlay-add").style.display = "block";
            document.getElementById("overlay-background-add").style.display = "block";
        }

        function offAdd() {
            document.getElementById("overlay-add").style.display = "none";
            document.getElementById("overlay-background-add").style.display = "none";
        }

        function onEdit(whichId) {
            const xhr = new XMLHttpRequest()
            let formData = new FormData();
            formData.append('id', whichId)
            xhr.open('post', '/_/templates/gedung_edit')
            xhr.onreadystatechange = function() {
                'use strict';
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const response = xhr.responseText;
                    console.log(response)
                    const placeholder = document.getElementById('overlay-edit-placeholder');
                    placeholder.innerHTML = response
                    document.querySelector(`#overlay-background-edit[data-gedung="${whichId}"]`).style.display = "block"
                    document.querySelector(`#overlay-edit[data-gedung="${whichId}"]`).style.display = "block";
                } else if (xhr.status !== 200) {
                    console.error(`xmlHttpRequest status `, xmlHttpRequest.status)
                }
            }
            xhr.send(formData)
        }

        function offEdit(whichId) {
            document.querySelector(`#overlay-background-edit[data-gedung="${whichId}"]`).remove();
        }
    </script>
{% endblock %}