{% extends 'admin/organisasi_template.jinja2' %}
{% block rightside_content %}
<!-- button -->
    <button class="btn btn-primary" onclick="onAdd()">CREATE ORGANISASI</button>
    <div class="content">
        <h2 class="page-title">DATABASE ORGANISASI</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-primary">
                        <th class="text-center">ID ORGANISASI</th>
                        <th class="text-center">NAMA ORGANISASI</th>
                        <th class="text-center">EMAIL</th>
                        <th class="text-center">NO TELP</th>
                        <th colspan="2" class="text-center">Kontrol</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organisasi in orgs %}
                    <tr>
                        <th class="text-center">{{ organisasi.id}}</th>
                        <td class="text-center">{{ organisasi.nama_organisasi}}</td>
                        <td class="text-center">{{ organisasi.email}}</td>
                        <td class="text-center">{{ organisasi.no_telp}}</td>
                        <td class="text-center">
                            <button onClick="onEdit('{{ organisasi.id }}')" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
                        </td>
                        <!--Tombol hapus -->
                        <td class="text-center">
                            <a href="{{ url_for('admin_organisasi_delete', id=organisasi.id) }}">
                                <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block overlay_add %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offAdd()">Back</button>
    <div class="overlay-content">
        <h2 class="overlay-title">CREATE ORGANISASI</h2>
        <!-- INPUT ADD RETURN -->
        <div class="overlay-input">
            <form action="{{ url_for('admin_organisasi_create') }}" method="post">
                <label for="nama-organisasi-add" class="form-label">NAMA ORGANISASI:</label><br>
                <input type="text" id="nama-organisasi-add" name="nama_organisasi" value="" class="form-control"><br>
                <label for="Email-add" class="form-label">EMAIL:</label><br>
                <input type="text" id="Email-add" name="email" value="" class="form-control"><br>
                <label for="NoTelp-add" class="form-label">NO TELP:</label><br>
                <input type="text" id="NoTelp-add" name="NoTelp" value="" class="form-control"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block overlay_edit %}
    <!-- BACK BOTTON -->
    <button class="btn btn-primary btn-back" onClick="offEdit()">Back</button>
    <div class="overlay-content">
        <h2 class="overlay-title">EDIT ORGANISASI </h2>
        <!-- INPUT EDIT RETURN-->
        <div class="overlay-input">
            <form action="{{ url_for('admin_organisasi_update', id='a') }}" method="post">
                <label for="nama-organisasi-edit" class="form-label">NAMA ORGANISASI:</label><br>
                <input type="text" id="nama-organisasi-edit" name="nama_organisasi" value="" class="form-control"><br>
                <label for="Email-edit" class="form-label">EMAIL:</label><br>
                <input type="text" id="Email-edit" name="email" value="" class="form-control"><br>
                <label for="NoTelp-edit" class="form-label">NO TELP:</label><br>
                <input type="text" id="NoTelp-edit" name="NoTlp" value="" class="form-control"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

<script>
        function onAdd() {
          document.getElementById("overlay-add").style.display = "block";
          document.getElementById("overlay-background-add").style.display = "block";
        }

        function offAdd() {
          document.getElementById("overlay-add").style.display = "none";
          document.getElementById("overlay-background-add").style.display = "none";
        }

        function onEdit() {
          document.getElementById("overlay-edit").style.display = "block";
          document.getElementById("overlay-background-edit").style.display = "block";
        }

        function offEdit() {
          document.getElementById("overlay-edit").style.display = "none";
          document.getElementById("overlay-background-edit").style.display = "none";
        }
 </script>