<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>About</title>
  </head>
  <body>
    <div id="header">
      <nav id="navbar">
        <ul id="menu">
          <li>
            <a href="index.html" style="text-decoration: none;color: #000;">
              Home
            </a>
          </li>
          <li>
            <a href="about.html" style="text-decoration: none;color: #000;">
              About
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="main">
      <div class="text-center">
        <h1 class="display-4 mb-0">Let Us Introduce</h1>
        <p class="font-italic   ">Our members, experience, hobbies, and more!</p>
      </div>
        <div class="image-container">
          <img src="assets\Banner (1).png" width="100%" height="100%">
        </div>
        <br>
        <div class="text-center">
          <h1 class="display-3 mb-0">We Are a Team</h1>
          <br>
          <div class="font-text">
            <p class="about-text">Mari berkenalan dengan ketiga pengembang situs ini.</p>
          <p class="about-text">Kami berharap situs ini dapat membantu pelanggan untuk mencari gedung serbaguna.</P>
          <p class="about-text">Kami sangat senang bisa membantu memenuhi ekspetasi dari <mark>"mimpimu"</mark></p>
          </div>
          <br>

          <div class="row row-cols-1 row-cols-md-3 g-4 card-container">
            <div class="col">
              <div class="card">
                <img src="assets\diego.jpg" class="card-img-top" alt="img" width="450px" height="450px">
                <div class="card-body">
                  <h5 class="card-title">Diego Dimetheo</h5>
                  <p class="card-text">Universitas Bunda Mulia</p>
                  <p class="card-text"><small class="text-muted">Football player, Investor, Digital Markter</small></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="assets\karunia.jpeg" class="card-img-top" alt="img" width="450px" height="450px">
                <div class="card-body">
                  <h5 class="card-title">Karunia Sentosa</h5>
                  <p class="card-text">Universitas Bunda Mulia</p>
                  <p class="card-text"><small class="text-muted">Programmer, Musician, Weeb</small></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="assets\gerry.jpg" class="card-img-top" alt="img" width="450px" height="450px">
                <div class="card-body">
                  <h5 class="card-title">Gerry Tonnoto</h5>
                  <p class="card-text">Universitas Bunda Mulia</p>
                  <p class="card-text"><small class="text-muted">Gamers, traveler, engineer</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script>
      let navbar = document.getElementById("navbar");
      let menu = document.getElementById("menu");

      window.onscroll = function(){
        if(window.pageYOffset > 10){
          navbar.classList.add("sticky");
        }
        else{
          navbar.classList.remove("sticky");
        }
      }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>