<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styleAdmin.css') }}">

    <title>ORGANISASI</title>
  </head>
  <body>
    <header>
        <div class="logo">
            <h1 class="logo-wa">KELOMPOK 2</h1>
        </div>
    </header>
    <!-- INDEX WRAPPER -->
    <div class="index-wrapper">
        <!-- LEFT SIDE -->
        <div class="leftside-wrapper">
            <ul>
                <li><a href="booking.html">BOOKING</a></li>
                <li><a href="gedung.html">GEDUNG</a></li>
                <li><a href="admin.html">ADMIN</a></li>
                <li><a href="organisasi.html">ORGANISASI</a></li>
                <li><a href="index.html">LOG OUT</a></li>
            </ul>
        </div>
        <!-- RIGHT CONTENT -->
        <div class="rightside-content">
            <!-- button -->
            <button class="btn btn-primary" onclick="onAdd()">CREATE ORGANISASI</button>

            <div class="content">
                <h2 class="page-title">DATABASE ORGANISASI</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th class="text-center">ID ORGANISASI</th>
                                <th class="text-center">NAMA ORGANISASI</th>
                                <th class="text-center">EMAIL</th>
                                <th class="text-center">NO TELP</th>
                                <th colspan="2" class="text-center">Kontrol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">1101</th>
                                <td class="text-center">HIMA IT BIOS</td>
                                <td class="text-center">himati_ancol@gmail.com</td>
                                <td class="text-center">0878172738281</td>
                                <td class="text-center">
                                    <button onClick="onEdit()" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
                                </td>

                                <!--Tombol hapus -->
                                <td class="text-center">
                                    <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--OVERLAY ADD RETURN-->
        <div id="overlay-background-add" class="overlay-background">
            <div id="overlay-add" class="overlay">
                <!-- BACK BOTTON -->
                <button class="btn btn-primary btn-back" onClick="offAdd()">Back</button>
                <div class="overlay-content">
                    <h2 class="overlay-title">CREATE ORGANISASI</h2>
                    <!-- INPUT ADD RETURN -->
                    <div class="overlay-input">
                        <form action="/">
                            <label for="IdOrganisasi" class="form-label">ID ORGANISASI:</label><br>
                            <input type="number" id="id_organisasi" name="id_organisasi" value=""class="form-control"><br>
                            <label for="NamaOrganisasi" class="form-label">NAMA ORGANISASI:</label><br>
                            <input type="text" id="nama_organisasi" name="nama_organisasi" value="" class="form-control"><br>
                            <label for="Email" class="form-label">EMAIL:</label><br>
                            <input type="text" id="email" name="email" value="" class="form-control"><br>
                            <label for="NoTelp" class="form-label">NO TELP:</label><br>
                            <input type="text" id="email" name="email" value="" class="form-control"><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--OVERLAY EDIT RETURN-->
        <div id="overlay-background-edit" class="overlay-background">
            <div id="overlay-edit" class="overlay">
                <!-- BACK BOTTON -->
                <button class="btn btn-primary btn-back" onClick="offEdit()">Back</button>
                <div class="overlay-content">
                    <h2 class="overlay-title">EDIT ORGANISASI </h2>
                    <!-- INPUT EDIT RETURN-->
                    <div class="overlay-input">
                        <form action="/">
                            <label for="KodeBuku" class="form-label">ID ORGANISASI:</label><br>
                            <input type="number" id="id_organisasi" name="id_organisasi" value=""class="form-control"><br>
                            <label for="Nim" class="form-label">NAMA ORGANISASI:</label><br>
                            <input type="text" id="nama_organisasi" name="nama_organisasi" value="" class="form-control"><br>
                            <label for="Nim" class="form-label">EMAIL:</label><br>
                            <input type="text" id="email" name="email" value="" class="form-control"><br>
                            <label for="Nim" class="form-label">NO TELP:</label><br>
                            <input type="text" id="email" name="email" value="" class="form-control"><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <!--script for open and close overlay  -->
    <script>
        function onAdd() {
          document.getElementById("overlay-add").style.display = "block";
          document.getElementById("overlay-background-add").style.display = "block";
        }

        function offAdd() {
          document.getElementById("overlay-add").style.display = "none";
          document.getElementById("overlay-background-add").style.display = "none";
        }
        
        function onEdit() {
          document.getElementById("overlay-edit").style.display = "block";
          document.getElementById("overlay-background-edit").style.display = "block";
        }

        function offEdit() {
          document.getElementById("overlay-edit").style.display = "none";
          document.getElementById("overlay-background-edit").style.display = "none";
        }
        </script>
  </body>
</html>