<div id="overlay-background-edit" class="overlay-background" data-booking="{{ booking.id }}">
    <div id="overlay-edit" class="overlay" data-booking="{{ booking.id }}">
        <!-- BACK BOTTON -->
        <button class="btn btn-primary btn-back" onClick="offEdit('{{ booking.id }}')">Back</button>
        <div class="overlay-content">
            <h2 class="overlay-title">EDIT GEDUNG</h2>
            <!-- INPUT EDIT MEMBER -->
            <div class="overlay-input">
                <form action="{{ url_for('admin_booking_edit', id=booking.id) }}" method="post">
                    <label for="IdBooking" class="form-label">BOOKING ID:</label><br>
                    <input type="number" id="idbooking" name="id_booking" value="{{ booking.id }}" class="form-control"><br>
                    <label for="IdGedung" class="form-label">ID GEDUNG:</label><br>
                    <input type="number" id="idgedung" name="id_gedung" value="{{ booking.gedung_id }}"
                           class="form-control"><br>
                    <label for="NamaPenanggungJawabEdit" class="form-label">NAMA PENANGGUNG JAWAB:</label><br>
                    <input type="text" id="namapenanggungjawabEdit" name="nama_penanggung_jawab"
                           value="{{ booking.nama_penanggungjawab }}" class="form-control"><br>
                    <label for="NamaPenyewa" class="form-label">NAMA PENYEWA:</label><br>
                    <input type="text" id="NamaPenyewa" name="nama_penanggung_jawab" value="{{ booking.penyewa }}"
                           class="form-control" readonly><br>
                    <div class="row">
                        <div class="col">
                            <label for="start-date-edit" class="form-label">MULAI TANGGAL</label>
                            <input type="date" id="start-date-edit" class="form-control" placeholder="DD/MM/YYYY"
                                   value="{{ booking.start_date }}" required>
                        </div>
                        <div class="col">
                            <label for="end-date-edit" class="form-label">SAMPAI TANGGAL </label>
                            <input type="date" id="end-date-edit" class="form-control" placeholder="DD/MM/YYYY"
                                   value="{{ booking.end_date }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="start-time-edit" class="form-label">JAM MULAI</label>
                            <input type="time" id="start-time-edit" class="form-control"
                                   value="{{ booking.start_time }}" required>
                        </div>
                        <div class="col">
                            <label for="end-time-edit" class="form-label">JAM BERAKHIR</label>
                            <input type="time" id="end-time-edit" class="form-control" value="{{ booking.end_time }}"
                                   required>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>